    html { 
    	height: 100%; 
    }

    body { 
    	height: 100%; 
    	margin: 0; 
    	padding: 0;
    }

    a { 
    	color: #FFF;
    }

    a:hover { 
    	color: #CCCCCC; 
    	text-decoration: none;
    }


    #map-canvas { 
    	height: 100%; 
    	position: relative; 
    }

    .nav-style { 
    	background-color: #555555; 
    	height: 50px; 
    	padding: 13px; 
    	width: 100%; 
    	color: #FFF;
        font-size: 12px;
    }

    .btn-primary {
    	background-color: #555555;
    	border-color: #454545;
    }

    .btn-primary:hover {
    	background-color: #454545;
    	border-color: #454545;
    }

    li { 
        display:inline;
        margin-left:15px; 
    }

    ul {
        margin:0px;
    }