html { 
   height: 100%; 
}

body { 
   height: 100%; 
   margin: 0; 
   padding: 0;
}

a { 
   color: #FFF;
}

a:hover { 
   color: #CCCCCC; 
   text-decoration: none;
}


#map { 
   height: 100%; 
   position: relative; 
   margin-top: 45px;
}

#nav {
    padding-left: 20px;
    padding-right: 20px;
}

#info {
    width: 250px;
    padding: 15px;
    text-align: center;
    margin-top: 5px;
}


li { 
    display:inline;
    margin-left:15px; 
}

ul {
    margin:0px;
}