{% extends 'base.html' %}
{% block content %}
<div id="map-canvas"></div>

<!-- Modal For Filter -->
<div class="modal fade" id="myModal2" tabindex="0" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Filter</h4>
      </div>
      <div class="modal-body">
        <div class="container">
          <form action="/query" method="post" class="col-md-4"> 
            {{ queryform.hidden_tag() }}
            <div class="container">
              <span class="col-md-3 text-right">{{ queryform.when.label }}</span>
              <span class="col-md-1">{{ queryform.when }}</span>   
            </div>
            <br />
            <div class="container">
              <span class="col-md-3 text-right">{{ queryform.culture.label }}</span>
              <span class="col-md-1">{{ queryform.culture }}</span>
            </div>
            <br />
            <div class="container">
              <span class="col-md-3 text-right">{{ queryform.work.label }}</span>
              <span class="col-md-1">{{ queryform.work }}</span>
            </div>
            <br />
            <div class="container">
              <span class="col-md-3 text-right">{{ queryform.overall.label }}</span>
              <span class="col-md-1">{{ queryform.overall }}</span>        
            </div>
          </div>        
        </div>
        <div class="modal-footer">
          <button type="button submit" class="btn btn-primary">Filter</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  $('#myModal2').css('position', 'absolute');
</script>


<!-- Modal For Add -->
<div class="modal fade" id="myModal" tabindex="0" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add</h4>
      </div>
      <div class="modal-body">
        <div class="container">
          <form action="/add" method="post" class="col-md-4"> 
            {{ addform.hidden_tag() }}
            <div class="container">
              <span class="col-md-2 text-right">{{ addform.company.label }}</span>
              <span class="col-md-1">{{ addform.company }}</span>
            </div>
            <br />
            <div class="container">
              <span class="col-md-2 text-right">{{ addform.where.label }}</span>
              <span class="col-md-1">{{ addform.where }}</span>  
            </div>
            <br />
            <div class="container">
              <span class="col-md-2 text-right">{{ addform.when.label }}</span>
              <span class="col-md-1">{{ addform.when }}</span>   
            </div>
            <br />
            <div class="container">
              <span class="col-md-2 text-right">{{ addform.culture.label }}</span>
              <span class="col-md-1">{{ addform.culture }}</span>
            </div>
            <br />
            <div class="container">
              <span class="col-md-2 text-right">{{ addform.work.label }}</span>
              <span class="col-md-1">{{ addform.work }}</span>
            </div>
            <br />
            <div class="container">
              <span class="col-md-2 text-right">{{ addform.overall.label }}</span>
              <span class="col-md-1">{{ addform.overall }}</span>        
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button submit" class="btn btn-primary">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  $('#myModal').css('position', 'absolute');
</script>
{% endblock %}
