{% extends 'base.html' %}
{% block content %}
<div id="map-canvas"></div>

<!-- Modal For Filter -->
<div class="modal fade" id="myModal2" tabindex="0" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Filter</h4>
      </div>
      <div class="modal-body">
        <div class="container">
          RAH           
          </div>
        </div>
        <div class="modal-footer">
          <button type="button submit" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<script>
  $('#myModal2').modal('hidden').css('position', 'absolute');
</script>


<!-- Modal For Add -->
<div class="modal fade" id="myModal" tabindex="0" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add</h4>
      </div>
      <div class="modal-body">
        <div class="container">
          <form action="/add" method="post" class="col-md-4"> 
            {{ form.hidden_tag() }}
            {{ form.netid.label }}
            {{ form.netid }}
            <br />
            {{ form.company.label }}
            {{ form.company }}
            <br />
            {{ form.when.label }}
            {{ form.when }}            
          </div>
        </div>
        <div class="modal-footer">
          <button type="button submit" class="btn btn-primary">Save changes</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  $('#myModal').modal('hidden').css('position', 'absolute');
</script>
{% endblock %}
