<html>
	<head>
		<!-- Add CSS -->
    	<link href="/static/pushpin.css" rel="stylesheet" media="screen">
    	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css" />
    	<link href="/static/css/MarkerCluster.Default.css" rel="stylesheet" media="screen">
    	<link href="/static/css/MarkerCluster.css" rel="stylesheet" media="screen">
    	<link rel="stylesheet" href="static/css/bootstrap.css">
    	<!-- Add JS -->
    	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9I9QpImOuJsRIB6VONon6C4h4E9jyUqs&sensor=false"></script>
    	<script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"></script>
    	<script src="static/js/Google.js"></script>
    	<script src="static/js/leaflet.markercluster-src.js"></script>
		<script src="static/js/jquery-1.10.2.js"></script>
		<script src="static/js/bootstrap.min.js"></script>
    </head>
    <body>
    	<div id="map"></div>
    	<script>
    		// map options
    		var mapOptions = {
      			center: new L.LatLng(40, -100),
      			zoom: 5,
    		};
    		// create map
    		var map = new L.Map('map', mapOptions);
    		var googleLayer = new L.Google('ROADMAP');
			map.addLayer(googleLayer);
			{% if markers %}
				// create marker clusters
				var m = L.markerClusterGroup();
    			{% for item in markers %}
    				// create marker
					var marker = L.marker([{{item.lat}},{{item.lon}}]);
					marker.bindPopup("<b> {{item.company}} </b><br /><b>Type: </b>{{item.job_type}}<br /><b>Rating: </b>{{item.rating}}<br />");
					// add marker to clusters
					m.addLayer(marker);
				{% endfor %}
				// add marker clusters
				map.addLayer(m);
    		{% endif %}
		</script>
		<nav class="navbar navbar-fixed-top navbar-inverse" id="nav" role="navigation">
        	<a class="navbar-brand" href="/">Pushpins</a>
  			<ul class="nav navbar-nav">
  				<li class="dropdown">
    				<a class="span2 dropdown-toggle" href="#" data-toggle="dropdown">Add</a>
    				<div class="dropdown-menu">
    				<form action="/add" method="post" class="input-form"> 
            			{{ queryform.hidden_tag() }}
						<div class="form-group">
							<b> About You </b>
            				{{ addform.netid(placeholder=addform.netid.label.text, class="form-control")}}
            			</div>
                        <div class="form-group">
                            {{ addform.major(placeholder=addform.major.label.text, class="form-control")}}
                        </div>
                        <div class="form-group">
                            {{ addform.grade(class="form-control")}}
                        </div>
            			<div class="form-group">
            				<b> About The Job </b>
            				{{ addform.company(placeholder=addform.company.label.text, class="form-control")}}
            			</div>
            			<div class="form-group">
            				{{ addform.where(placeholder=addform.where.label.text, class="form-control")}}
            			</div>
           				<div class="form-group">
            				{{ addform.job_type(placeholder=addform.job_type.label.text, class="form-control")}}
            			</div>
            			<div class="form-group">
            				{{ addform.rating(placeholder=addform.rating.label.text, class="form-control")}}
            			</div>
          				<button type="button submit" class="btn btn-default">Filter</button>
        			</form>
    			</li>
    			<li class="dropdown">
    				<a class="span2 dropdown-toggle" href="#" data-toggle="dropdown">Filter</a>
    				<div class="dropdown-menu">
    				<form action="/query" method="post" class="input-form"> 
            			{{ queryform.hidden_tag() }}
            			<div class="form-group">
            				{{ queryform.company(placeholder=queryform.company.label.text, class="form-control")}}
            			</div>
           				<div class="form-group">
            				{{ queryform.job_type(placeholder=queryform.job_type.label.text, class="form-control")}}
            			</div>
            			<div class="form-group">
            				{{ queryform.rating(placeholder=queryform.rating.label.text, class="form-control", style="width: 120px; ")}}
            			</div>
          				<button type="button submit" class="btn btn-default">Filter</button>
        			</form>
    			</li>
  			</ul>
  			<ul class="nav navbar-nav navbar-right">
    			<li class="dropdown">
    				<a class="glyphicon glyphicon-question-sign dropdown-toggle" href="#" data-toggle="dropdown"> </a>
    				<div class="dropdown-menu" id="info">
    					Pushpins is here to show you where people from your school community are working and how they rate it!  Let people know where you're going - add your pins!
    				</div>
    			</li>
  			</ul>
  		</nav>
    </body>
</html>

